.menu {
  z-index: 100;
  box-sizing: border-box;
  height: 100vh;
  background-color: $c-accent;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 31px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
