// media
$tablet-min-width: 640px;
$desktop-min-width: 1024px;
$desktop-big-min-width: 1600px;

// colors
$c-white: #fff;

$c-bg-light: #F2F6FA;
$c-bg-dark: #2C2C2C;


$c-accent: #2060F6;
$c-accent-light: #6C788B;
$c-text-100: #253757;

