.expertise {

  &__title {
    margin: 0 0 56px;

    @include onTablet {
      margin: 0 0 64px;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 56px;

    @include onTablet {
      gap: 72px;
    }

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include onTablet {
      width: 362px;
      margin: 0 auto;
    }

    @include onTablet {
      width: 362px;
      margin: 0 auto;
    }

    @include onDesktop {
      width: 100%;
      // margin: 0 auto;
    }
  }

  &__item-img {
    width: 166px;
    height: 166px;
    border-radius: 16px;
    margin-bottom: 32px;
  }

  &__item-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: $c-text-100;
    margin: 0 0 16px;
  }
}
